*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    margin: 0;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100vw;
    height: calc(80/1440 * 100vw);
}
.main__logo{
    margin-left: calc(30/1440 * 100vw);
    margin-right: calc(30/1440 * 100vw);

}
.logo__icon{
    width: calc(222/1440 * 100vw);
    height: calc(50/1440 * 100vw);
}
.main__heding{
    display: block;
    width: calc( 242/1440 * 100vw);
    height: calc(44/1440 * 100vw);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: calc(36/1440 * 100vw);
    line-height: calc(44/1440 * 100vw);
    color: #787878;
    padding: 0;
    margin: 0;

}
.main__button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: calc(24/1440 * 100vw);
    line-height: calc(29/1440 * 100vw);
    color: #787878;
}
.main__button_margin1{
    margin-left: calc(628/1440 * 100vw);
    margin-right: 0;
}
.main__button_margin2{
    margin-left: calc(28/1440 * 100vw);
    margin-right: calc(43/1440 * 100vw);
}
.button__name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: calc(24/1440 * 100vw);
    line-height: calc(29/1440 * 100vw);
    color: #787878;
}
.button__name_color{
    color: #1A226B;
}
.main__button:link{
    outline: none;
    color:  #787878;
    text-decoration: none;
    }
.button__name:hover{
    outline: none;
     color: #1A226B;
    text-decoration: none;
    }        
.button__name:visited{
        outline: none;
        color: #1A226B;
        text-decoration: none;
    }
.button__name:active{
        outline: none;
        color: #1A226B;
        text-decoration: none;
    }
.button__name:focus-visible{
        outline: none;
        color: #1A226B;
        text-decoration: none;
    }
.button__name:focus{
        outline: none;
        color: #1A226B;
        text-decoration: none;
}
.background{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: calc(100vw - (80/1440 * 100vw));
    background-color: #FFFFFF;
    margin-top: 10px;
}
.poppup{
    box-sizing: border-box;
    width: calc(600/1440 * 100vw);
    height: calc(383/1440 * 100vw);
    margin-left: 0;
    margin-right: 0;
    margin-top: calc(125/1440 * 100vw);
    background: #FFFFFF;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    align-items: center;
    align-content: center;
    text-align: center;
}
.poppup__heder{
    margin-top: calc(26/1440 * 100vw);
    margin-bottom: calc(17/1440 * 100vw);
    font-style: normal;
    font-weight: 700;
    font-size: calc(50/1440 * 100vw);
    line-height: calc(50/1440 * 100vw);
    color: #787878;
}
.poppup__subtitle{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: calc(16/1440 * 100vw);
line-height: calc(16/1440 * 100vw);
margin-bottom: 3px;
color: #787878;
text-align: left;
margin-left: calc(53/1440 * 100vw);
}
.poppup__style-input{
    box-sizing: border-box;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: calc(509/1440 * 100vw);
    height: calc(49/1440 * 100vw);
    background: #FFFFFF;
    border: 2px solid #787878;
}
.poppup__style-input::placeholder{
    color: #CCCCCC;
}

.poppup__login{
    margin-bottom: calc(11/1440 * 100vw);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: calc(28/1440 * 100vw);
    line-height: calc(36/1440 * 100vw);
    color: #787878;
}
input[type="email" i] {
    padding-left: calc(15/1440 * 100vw);
}
.poppup__password{
    margin-bottom: calc(52/1440 * 100vw);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: calc(28/1440 * 100vw);
    line-height: calc(36/1440 * 100vw);
    color: #787878;
}
input[type="password" i] {
    padding-left: calc(15/1440 * 100vw);
}
.poppup__button-enter{
    box-sizing: border-box;
    margin-bottom: calc(4.4px + 1.5vw);
    width: calc(90px + 6.25vw);
    height: calc(23.6px + 2vw);
    background: #1B2473;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: calc(16.8px + 0.5vw);
    line-height: calc(13.4px + 0.25vw);
    color: #FFFFFF;
    border: 0;
}
@media screen and (max-device-width: 768px){
    .main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100vw;
        height: calc(80/768 * 100vw);
    }
    .main__logo{
        margin-left: calc(20/768 * 100vw);
        margin-right: calc(34/768 * 100vw);
    
    }
    .logo__icon{
        width: calc(124/768 * 100vw);
        height: calc(25/768 * 100vw);
    }
    .main__heding{
        display: block;
        width: calc( 162/768 * 100vw);
        height: calc(29/768 * 100vw);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: calc(24/768 * 100vw);
        line-height: calc(29/768 * 100vw);
        color: #787878;
        padding: 0;
        margin: 0;
    
    }
    .main__button{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: calc(16/768 * 100vw);
        line-height: calc(19/768 * 100vw);
        color: #787878;
    }
    .main__button_margin1{
        margin-left: calc(219/768 * 100vw);
        margin-right: 0;
    }
    .main__button_margin2{
        margin-left: calc(36/768 * 100vw);
        margin-right: calc(28/768 * 100vw);
    }
    .button__name{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: calc(16/768 * 100vw);
        line-height: calc(19/768 * 100vw);
        color: #787878;
    }
    .button__name_color{
        color: #1A226B;
    }
    .main__button:link{
        outline: none;
        color:  #787878;
        text-decoration: none;
        }
    .button__name:hover{
        outline: none;
         color: #1A226B;
        text-decoration: none;
        }        
    .button__name:visited{
            outline: none;
            color: #1A226B;
            text-decoration: none;
        }
    .button__name:active{
            outline: none;
            color: #1A226B;
            text-decoration: none;
        }
    .button__name:focus{
            outline: none;
            color: #1A226B;
            text-decoration: none;
        }
    .poppup{
        box-sizing: border-box;
        width: calc(600/768 * 100vw);
        height: calc(383/768 * 100vw);
        margin-left: 0;
        margin-right: 0;
        margin-top: calc(80/768 * 100vw);
        background: #FFFFFF;
        box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
        align-items: center;
        align-content: center;
        text-align: center;
    }
    .poppup__heder{
        margin-top: calc(26/768 * 100vw);
        margin-bottom: calc(17/768 * 100vw);
        font-style: normal;
        font-weight: 700;
        font-size: calc(50/768 * 100vw);
        line-height: calc(50/768 * 100vw);
        color: #787878;
    }
    .poppup__subtitle{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(16/768 * 100vw);
        line-height: calc(16/768 * 100vw);
        margin-bottom: 3px;
        color: #787878;
        text-align: left;
        margin-left: calc(53/768 * 100vw);
    }
    .poppup__style-input{
        box-sizing: border-box;
        margin-left: 0 auto;
        margin-right: 0 auto;
        width: calc(509/768 * 100vw);
        height: calc(49/768 * 100vw);
        background: #FFFFFF;
        border: 2px solid #787878;
    }
    .poppup__login{
        margin-bottom: calc(11/768 * 100vw);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(28/768 * 100vw);
        line-height: calc(36/768 * 100vw);
        color: #787878;
    }
    .poppup__password{
        margin-bottom: calc(52/768 * 100vw);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(28/768 * 100vw);
        line-height: calc(36/768 * 100vw);
        color: #787878;
    }
    .poppup__button-enter{
        box-sizing: border-box;
        width: calc(180/768 * 100vw);
        height: calc(52/768 * 100vw);
        background: #1B2473;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: calc(24/768 * 100vw);
        line-height: calc(16/768 * 100vw);
        color: #FFFFFF;
}
}
